SONARR_URL: "SONARRURL+PORT"
SONARR_API_KEY: "SONARRAPIKEY"
SONARR_QUALITY_PROFILE_ID: "1"
SONARR_ROOT_FOLDER_PATH: "SONARRROOTFOLDER"
SONARR_MONITOR_NEW_ITEMS: "all"
SONARR_SEASON_FOLDER: "true"

RADARR_URL: "RADARRURL+PORT"
RADARR_API_KEY: "RADARRAPIKEY"
RADARR_QUALITY_PROFILE_ID: "1"
RADARR_ROOT_FOLDER_PATH: "RADARRROOTFOLDER"

PORT: "8787"
DEFAULTSEASON=current season
DEFAULTSORT=Trending
ALREADYINLIB=True